{
  "extends": [
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/require-extension": "off", // deprecated and prints a warning unless explicitly disabled
    "react/jsx-filename-extension": ["warn", {
      "extensions": [".js", ".jsx"]
    }],
    "react/prefer-es6-class": "off",
    "import/newline-after-import": "off",
    "import/no-extraneous-dependencies": ["warn", {
      "devDependencies": true,
      "optionalDependencies": true,
      "peerDependencies": true
    }],
    "max-len": ["warn", 160],
    "consistent-return": "off",
    "func-names": "off",
    "global-require": "off",
  },
  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  }
}
