
.textarea {
  width: 100%;
  border: 0px;
  min-height: 300px;
}

.tab-panels--tab-content {
  padding: 1rem;
}

.speak-button {
  margin-left: 1rem;
}

.base--select {
  max-width: 100%;
}
.reset-button {
  margin-left: 0.5rem;
  cursor: pointer;
}

.reset-container {
  text-align: right;
}