
.textarea {
  width: 100%;
  border: 0px;
  min-height: 300px;
}

.tab-panels--tab-content {
  padding: 1rem;
}

.speak-button {
  margin-left: 1rem;
}

.speak-button:focus, .download-button:focus {
  outline: none;
}

.speak-button[disabled], .speak-button[disabled]:hover {
  color: grey;
  border: 2px solid grey;
  transition: 0s;
}

.base--select {
  max-width: 100%;
}
.reset-button {
  margin-left: 0.5rem;
  cursor: pointer;
}

.reset-container {
  text-align: right;
  width: 50%;
}

.audio {
  width: 100%;
  margin: 1rem;
}

.controls-container {
  display: flex;
}

.output-container {
  margin-bottom: 4rem;
}

.buttons-container {
  width: 50%;
}

.errorMessage {
  text-align: center;
  color: red;
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.base--h2.title {
  margin-top: 5rem;
  font-size: 1.5em;
  color: #965ad0;
}

.dimmed {
  opacity: 0.5;
}

.base--button {
  background-color: #55306f;
  color: white;
  border: 2px solid #55306f;
}

.voice-input {
  width: 60%;
}
